.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}*{font-family: 'Montserrat', sans-serif;
 margin: 0; padding: 0; scroll-behavior: smooth; scroll-padding-top: 2rem; box-sizing: border-box;
 } 
 body{ background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROsGTZJo-DqIR_trNBtSunuXD3BERmKvxYP0CkyjCDWlrIcNtUP9AbJoxLZWDMmHnDAmc&usqp=CU); 
     background-size: 100%; display: flex; flex-wrap: wrap; flex-grow: 1;width: 90%;
     max-width: 600px;}


a{ text-decoration: none;}


li{ list-style: none;}

img{ width: 100%;}
 section{ padding: 3rem 0 2rem;  }
 header{ position: fixed; top:0;left: 0; width: 100%; z-index:100; }

 .container{ max-width: 1068px; margin:auto; width:100%; }
 .nav{ display: flex; align-items: center; justify-content: space-between; padding:18px 0 ;}

 .logo{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
     position: absolute; font-size: 3rem; font-weight:600; color: var(----bg-color); width: 10px;}

 .blog{ padding: 8px 14px; text-transform: uppercase; font-weight: 500; border-radius: 
    4px; background: var(----bg-color);}

 .contact{ padding: 3px 14px; text-transform: uppercase; font-weight: 500; 
    border-radius: 4px; background: var(----bg-color); margin-top: 20px ;
    top:10px ;margin-left:50px;}


 .login:hover{ background: hs1(24,98%,58%); transition:0.3s;}
 /*HOME*/

 .home{ width:100%; min-height: 440px; background: var(---container-color);
display: grid; justify-content: center; align-items: center;}
.home-text{
    color:var(----bg-color); text-align: center;}
    .home-title{ font-size: 3.5rem;}
    .home-subtitle{ 
        font-size: 1rem; font-weight: 400;
    }
    .catname{width: 300px; overflow: auto;}
    
.essential{ width: 500px; overflow: auto; font-size: medium ;}

.content {
    margin-top: 80px;
    margin-right: 20px;
    padding: 10px;
    height: 1000px;
    overflow-y: auto; width: 90%;
    max-width: 600px;
  }
 



  .sidebar {
    background-color: #f2f2f2;
    position: fixed;
    top: 70px;
    right: 0;
    width: 300px;
    height: calc(100% - 100px);
    padding: 10px;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  .sidebar ul li {
    font-size: 18px;
    padding: 10px 0;
  }
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  .sidebar ul li a:hover {
    background-color: #eee;
    color: #000;
  }
  .sidebar ul li img {
    display: block;
    width: 300px;
    height: 100px;
    background-size: cover;
  }

  .attack{  font-size:15px ;font-family: 'Gill Sans', 'Gill Sans MT',
     Calibri, 'Trebuchet MS', sans-serif; color: aqua; }

.esent{ color: aliceblue;}
.birthday{ color: aquamarine; font-family: Arial, Helvetica, sans-serif; font-weight: 100;flex-wrap: wrap; }
.birthday h3{ color: blue;}
.cname { font-family: Arial, Helvetica, sans-serif; font-weight: 100; flex-wrap:wrap ; font-size: medium;font-style: italic; color: azure;}

